<h4 style="color: #cccccc;">Usuários Cadastrados</h4>
<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp mdl-cell--12-col">
  <thead ng-show="!noReg">
    <tr>
      <th>Nome Completo</th>
      <th>RG</th>
      <th>CPF</th>
      <th>Data de Nascimento</th>
      <th>Gênero</th>
      <th></th>      
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="user in users | filter:inpTextSearchUser.text"> 
      <td>{{user.fullName}}</td>
      <td><span>{{user.rg|rg}}</span></td>
      <td>{{user.cpf|cpf}}</td>
      <td>{{user.born | date : 'dd/MM/yyyy'}}</td>
      <td>
        <i style="color: #fc9fe1" class="material-icons" ng-if="user.gender == 'female'" id="tt-female{{user._id}}">face</i>  
        <i style="color: #00b9fc" class="material-icons" ng-if="user.gender == 'male'" id="tt-male{{user._id}}">face</i>
        <div class="mdl-tooltip" data-mdl-for="tt-female{{user._id}}">Feminino</div>
        <div class="mdl-tooltip" data-mdl-for="tt-male{{user._id}}">Masculino</div>        
      <td>
        <button class="mdl-button mdl-js-button mdl-button--icon" ng-click="editUser(user)" id="tt-edit{{user._id}}">
            <i style="color: #37474F;" class="material-icons">mode_edit</i>
        </button>        
        <button class="mdl-button mdl-js-button mdl-button--icon" ng-click="removeUser(user)" id="tt-remove{{user._id}}">
          <a href="#">
            <i style="color: #f46969;" class="material-icons">delete_forever</i>
          </a>
        </button>
        <div class="mdl-tooltip" data-mdl-for="tt-edit{{user._id}}">Editar</div>
        <div class="mdl-tooltip" data-mdl-for="tt-remove{{user._id}}">Remover</div>             
      </td>
    </tr>
    <tr ng-show="noReg">
      <td colspan="6">
          <span>
            Não consta registro para exibição. Clique 
            <a href="/dashboard/user/cadaster">aqui</a> para cadastrar.
          </span>
      </td>
    </tr>
  </tbody>
</table>